# Terraform state
*.tfstate
*.tfstate.*

# Terraform cache
.terraform/

# Plan files
*.tfplan

# Variables sensibles
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
